@import '@material/textfield/mixins';
@import '../color-palette';

$questions-layout-margin: 108px;
$questions-total-column-count: 9;
$questions-layout-gutter: 16px;

@mixin questions-column-based-width($column-count) {
  $negative-space: $questions-layout-margin + ($questions-layout-gutter * ($questions-total-column-count - 1));
  width: calc(((100% - #{$negative-space})/#{$questions-total-column-count / $column-count}) + #{($column-count - 1) * $questions-layout-gutter});
}

@mixin questions-text-field {
  @include mdc-text-field-hover-outline-color($blue-400);
  @include mdc-text-field-focused-outline-color($blue-700);
  @include mdc-text-field-caret-color($blue-700);

  &.mdc-text-field--focused {
    @include mdc-text-field-label-color($blue-700);
  }
}