@import "@material/typography/mixins";
@import '../../color-palette';
@import './partial';

.questions__title {
  margin-left: $layout-margin;
  @include mdc-typography-baseline-top(72px);
  @include mdc-typography-baseline-bottom(16px);
  color: $blue-900;
}

.questions__paragraph {
  margin-left: $layout-margin;
  @include column-based-width(3);
  @include mdc-typography-baseline-top(64px);
  @include mdc-typography-baseline-bottom(24px);
  color: rgba(0,0,0, .60);
}

.questions__documents {
  margin-top: 24px;
  /* 11px to account for checkbox padding */
  margin-left: $layout-margin - 11px;
}

.questions__document-name {
  margin-left: $layout-margin;
  @include mdc-typography-baseline-top(64px);
  @include mdc-typography-baseline-bottom(24px);
  color: $blue-900;
}
