@import "@material/typography/mixins";
@import '../color-palette';

.identification {
  background-color: #FFFFFF;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.identification__title {
  @include mdc-typography-baseline-top(72px);
  @include mdc-typography-baseline-bottom(16px);
  color: $blue-900;
}

.identification__paragraph {
  @include mdc-typography-baseline-top(64px);
  @include mdc-typography-baseline-bottom(24px);
  color: rgba(0,0,0, .60);
}

.identification__documents {
  margin-top: 24px;
}

.identification__document-name {
  @include mdc-typography-baseline-top(64px);
  color: $blue-900;
}
